@inherits LayoutComponentBase
<RadzenNotification />
<div class="page">
  @*  <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 justify-content-between" style = "background-color: #1976D2">
            <div>
                <RadzenIcon Icon="local_drink" class="text-info"/>
                <RadzenIcon Icon="east" class="text-light"/>
                <RadzenIcon Icon="local_drink" class="text-light"/>
               
            </div>
            <div  class="text-light"> <h4>G3 Well Translator</h4></div>
            <div> <a href="https://www.schroedel.at" target="_blank">v 0.1 JS</a></div>
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
